*{
    font-family:Arial, Helvetica, sans-serif
}
:root{
    --borderalt: 1px solid black
}
header{
    
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    background-color: rgb(3, 137, 170);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

img{
    width: 70px;
}
#btnEl {
    width: 230px;
    height: 35px;
    background-color: rgb(178, 250, 250);  
    font-size: 15px;
    font-weight: 900;
    border-width: 1px;
}
#btnEl:hover, .liClass:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#userInput{
    width: 220px;
    height: 30px;  
}
h1{
    font-size: 40px;
}
h2{
    margin-top: 0;
}
h3{
    font-size: 50px;
}

#container1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 350px 250px 1020px;
    grid-template-rows: 300px 250px 250px;
    column-gap: 5px;
    row-gap: 5px;
    
}
#searchEl{
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;

}
.liClass{
    margin-bottom: 5px;
    border: 1px solid black;
    list-style-type: none;
    width: 230px;
    height: 30px;
    align-content: center;
    text-align: center;
}


#iconEl{
    width: 80px;
}
#searchResult{
    font-size: 25px;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: var(--borderalt);
    background-color: rgb(3, 137, 170);
}
#future{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; 
}
#futureCon{   
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    grid-template-rows: 350px;
    column-gap: 20px;
}
#day11, #day22,  #day33, #day44, #day55{
    padding-top: 10px;
    text-align: center;
    border: var(--borderalt);
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(3, 137, 170);
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 60px;
}

#day1{
    white-space: pre;
    grid-column-start: 1;
    grid-column-end: 2;
}
#day2{   
    grid-column-start: 2;
    grid-column-end: 3;
    white-space: pre;

}
#day3{    
    grid-column-start: 3;
    grid-column-end: 4;
    white-space: pre;

}
#day4{   
    grid-column-start: 4;
    grid-column-end: 5;
    white-space: pre;

}
#day5{   
    white-space: pre;
    grid-column-start: 5;
    grid-column-end: 6;
}
